html{
  font-size: 18px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif */
  background-color: white;
}

/* **************************HEADER CODE *********************/
/* This the code for the header of the page width and height*/
.Header{
  height:64px;
  width: 100%;
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
/* ******************Left Section of Header**************** */
.Header .LeftSection{
  display:flex;
  align-items: center;
}
/* Header / Logo */
.Header .LeftSection .logo{
  padding-left: 24px;
  display: flex;
}

/* Header text propetries */
.Header .LeftSection .organization{
  display: flex;
  color: black;
  padding: 0;
  font-weight: bold;
}
.Header .LeftSection .organization2{
  display: flex;
  color: lightgrey;
  padding: 0;
}
/* **************End of left section coding ***************/

/* ****************Right Section of Header*************** */
.Header .RightSection{
  display:flex;
  align-items: center;

}
.RightSection {
  display: inline-block;
  padding: 0 16px;
}
.spacer{
  display: flex;
  height:64px;
  width: 16px;
  background-color: lightgrey;
  /* background-color: #393535; */
}
/* **************End of Right section coding ***************/
/* **************************HEADER CODE END****************/

/* ************************BANNER CODE *********************/
.Section1{
  display:inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgrey;
  width: 100%;
}

.Section1 .Banner{
  display: flex;
  width: 60%;
  padding: 0;
  margin: 32px 24px;
}
/* Size the text section of the Banner */
.Section1 .BannerText{
  display:flex;
  flex-direction: column;
  width: 30%;
}
/* Text Properties code for the banner */
.Section1 .BannerText h1 {
  font-size: 2rem;
  color: #393535;
  padding: 24px 0px;
}
.Section1 .BannerText p {
  font-size: 1rem;
  color: #393535;
  padding: 24px 0px;
}

.Section1 .BannerText a {
  font-size: 0.8rem;
  color: white;
  background-color: #393535;
  padding: 24px 0px;
  text-decoration: none;
  text-align: center;
}
/* ********************END**BANNER CODE *********************/
/* ***Section 2 Coding It doesn't hurt to keep practicing ***/
.Section2{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

/* Code for Left Section of Section 2 */
 .Section2 .Section2Left{
  width: 60%;

}
.Section2 .Section2Left .InformationMain{
  width: 100%;
  padding: 32px 24px;
}
.Section2 .Section2Left .Section2LeftTitle{
  width: 100%;
  font-size: 4rem;
  color: #393535;
  padding: 0;
  margin: 0 24px;
}

.Section2 .Section2Left .Section2LeftContent{
  width: 100%;
  font-size: 1.5rem;
  color: #393535;
  padding: 0px;
  margin: 24px 24px 32px 24px;
}

/* Code for Right Section of Section 2 */
/* Flex setup for the pictures Column */
.Section2 .Section2Right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 40%;
  padding: 0px 0px 0px 25px;
  margin: 32px 0px 32px 24px;
}

/* Right Section of Section 2 text properties */
.Section2 .Section2Right h3{
    font-size: 2.5rem;
}
.Section2 .Section2Right a p{
    font-size: 1.5rem;
}
.sectiontittle{
  padding: 4px;
}
.sectiondetails{
  padding: 4px;
}
.ReadMore{
  text-decoration: none;
  color: blue;
  padding: 4px;

}


/* Flex implementation for the individual picture boxes */
/* Orientation Date Section */
.Section2 .Section2Right .OrientationDate{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;

}
.Section2 .Section2Right .OrientationDate:hover{
  background-color: lightgrey;
}
.Section2 .Section2Right .OrientationDate .Orientation{
  width: 35%;
  height: auto;
  padding: 0 16px 16px 16px;
}
.Section2 .Section2Right .OrientationDate .Details{
  width: 65%;
}

/* Our Campus Section */
.Section2 .Section2Right .OurCampus{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
}
.Section2 .Section2Right .OurCampus:hover{
  background-color: lightgrey;
}
.Section2 .Section2Right .OurCampus .Campus{
  Width: 35%;
  height: auto;
  padding: 16px;
}
.Section2 .Section2Right .OurCampus .Details2{
  width: 65%;
}


/* Our Guest Section */
.Section2 .Section2Right .OurGuestLecture{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid lightgrey;
}
.Section2 .Section2Right .OurGuestLecture:hover{
  background-color: lightgrey;
}
.Section2 .Section2Right .OurGuestLecture .Guest{
  Width: 35%;
  height: auto;
  padding: 16px;
}
.Section2 .Section2Right .OurGuestLecture .Details3{
  width: 65%;
}
